@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Flex:opsz@8..144&display=swap');

.list {
    position: relative;
    display: flex;
    height: auto;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
}

