.main {
    background-color: white;
    color: black;
    width: 90vw;
    margin: auto;
}

.img_container {
    background-color: #f2f2f2;
    border-radius: 2rem;
}

.detail_container {
    background-color: #30a7d7;
    border-radius: 2rem;
}

.types {
    display: flex;
    justify-content: center;
    color: #313131;
}

.type {
    border-radius: 30px;
    color: white;
    font-size: .8rem;
    max-width: 110px;
    margin: 0px 1.5px 0 0;
    text-align: center;
    padding: 0.25rem .5rem;
    text-transform: capitalize;
}