@import 'src/styles/mixin';

.container {
  display: flex;
  border-radius: 5px;
  flex-direction: row;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  overflow-x: auto;
  .arrow {
    width: 3rem;
    align-self: center;
    min-width: 1rem;
    svg {
      width: 100%;
      fill: black;
    }
  }
  .evolution {
    flex-basis: 15rem;
    min-width: 20%;
    height: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    @include device-less-than('sm') {
      flex-basis: 10rem;
    }
    .image-container {
      border: 3px solid var(--border-2);
      padding: 0.5rem;
      margin: 0.25rem 0.5rem;
      // background-color: #616161;
      border-radius: 50%;
      .image-wrapper {
        margin: 1rem;
      }
      $min-w: 2rem;
      img {
        width: 100%;
        height: auto;
        min-width: $min-w;
        min-height: $min-w;
      }
    }
  }
}
