.image{
    background: #f2f2f2;
    width:100%;
    height: 100%;
    border-radius: 5px;
    text-decoration: none; 
}

.info p{
    color: #919191;
    margin: 0.5rem 0;
    padding-top: 2px;
    font-size: 80%;
}

.info h5{
    color: #313131;
    font-size: 115%;
    text-transform: none;
    margin-bottom: 5px;
}

.types{
    border-radius: 3px;
    line-height: 18px;
    max-width: 110px;
    margin: 0px 1.5px 0 0;
    text-align: center;
    font-size: 11px;
    
}